streamlit
streamlit-option-menu
pandas
numpy
seaborn
plotly
shap
matplotlib
lightgbm
scikit-learn
scipy
dowhy>=0.11.0
langchain
langchain-groq
dice-ml
fairlearn
evidently==0.4.30
networkx<3.4
