streamlit==1.46.1
streamlit-option-menu==0.4.0
pandas==2.2.3
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
lightgbm==4.6.0
shap==0.46.0
plotly==5.24.1
matplotlib==3.9.2
seaborn==0.13.2
dowhy==0.11.1
dice-ml==0.11
fairlearn==0.10.0
langchain==0.3.25
langchain-core==0.3.59
langchain-groq==0.2.4
evidently==0.4.33
